
.title {
    font-size: var(--title-text);
}

#page-container {
    background-color: var(--light-grey);
}

#greeting {
    animation: fade-in 1s;
}

.feature-paragraph {
    text-align: left;
    line-height: 30px;
    font-size: var(--big-text);
}

#intuative {
    border: 2px solid var(--lithe-red);
}

#efficiency {
    border: 2px solid var(--lithe-blue);
}

#functions-list-wrapper {
    border: 2px solid var(--lithe-green);
    border-radius: var(--border-rad);
    background-color: var(--lightest-grey);
    padding: var(--pad);
}

#functions-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

#functions-list > * {
    border-radius: var(--border-rad);
    font-size: var(--big-text);
    padding: var(--pad);
    margin: var(--mar);
    background-color: var(--celeste);
    color: var(--celadon-blue);
}

#functions-list >*:nth-child(odd) {
    background-color: var(--lithe-green);
    color: var(--lithe-dark-green);
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.features-list > * {
    padding: var(--pad);
    margin: var(--mar);
    background-color: var(--lightest-grey);
    border-radius: var(--border-rad);
    display: flex;
    align-items: center;
    text-align: left;
}

.features-list > * > * {
    padding: var(--pad);
}
