
.title {
    font-size: var(--title-text);
}

#page-container {
    background-color: var(--light-grey);
}

#greeting {
    padding: var(--gen-pad);
    animation: fade-in 1s;
}
#greeting > * {
    margin: var(--gen-mar);
}

.feature-sect {
    animation: fade-in 2s;
    overflow: hidden;
    display: flex;
    padding: var(--gen-pad);
    margin: var(--gen-mar);
    align-items: stretch;
}
.feature-sect > * {
    flex-basis: 50%;
    padding: var(--gen-pad);
    margin: var(--mar);
    border-radius: var(--border-rad);
}

.feature-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.feature-paragraph {
    width: 60%;
    text-align: left;
    line-height: 30px;
    font-size: var(--big-text);
    padding: var(--gen-pad);
}

.disp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--lightest-grey);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: var(--hide-on-mobile);
}

#intuative {
    border: 2px solid var(--lithe-red);
}

#efficiency {
    border: 2px solid var(--lithe-blue);
}

#functions-list-wrapper {
    width: 30%;
    border: 2px solid var(--lithe-green);
    border-radius: var(--border-rad);
    background-color: var(--lightest-grey);
    padding: var(--pad);
}

#functions-list {
    display: inline-flex;
    flex-wrap: wrap;
}

#functions-list > * {
    border-radius: var(--border-rad);
    font-size: var(--big-text);
    padding: var(--pad);
    margin: var(--mar);
    background-color: var(--celeste);
    color: var(--celadon-blue);
}
#functions-list >*:nth-child(odd) {
    background-color: var(--lithe-green);
    color: var(--lithe-dark-green);
}

#logo {
    margin-bottom: var(--gen-mar);
    width: 50%;
    max-width: 350px;
}

#intuitive-img {
    width: calc(var(--image-scale) * 7);
}

#eff-img-1 {
    width: calc(var(--image-scale) * 4);
}

#eff-img-2 {
    width: calc(var(--image-scale) * 2);
}

#features {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-bottom: var(--gen-mar);
}
#features > * {
    padding: var(--pad);
    margin: var(--mar);
    flex-basis: 50%;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.features-list > * {
    padding: var(--pad);
    margin: var(--mar);
    background-color: var(--lightest-grey);
    border-radius: var(--border-rad);
    display: flex;
    align-items: center;
    text-align: left;
}

.features-list > * > * {
    padding: var(--pad);
}
