#menubar {
    display: flex;
    align-items: center;
    height: 4vh;
}

#menubar > * {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--lightest-grey);
    text-decoration: none;
}

@keyframes button-hover {
  from {background-color: var(--lightest-grey)}
  to {background-color: var(--light-grey)}
}

#menubar > *:hover {
    cursor: pointer;
}

#menubar > *:not(:last-child) {
    border-right: 2px solid var(--light-grey);
}
