#main-title {
    animation: fade-in 1s;
    margin: var(--gen-mar);
}

.post-content {
    animation: fade-in 2s;
    border-radius: var(--border-rad);
    background-color: var(--lightest-grey);
}
.post-content > * {
    padding: var(--pad);
    margin: var(--mar);
    text-align: left;
}

.post-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--pad);
    margin: var(--mar);
}
.post-image > * {
    padding: var(--pad);
}
