*[class~='video-sect'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: var(--gen-mar);
    overflow: auto;

}
*[class~='video-sect'] > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: var(--mar);
}
*[class~='video'] {
    height: 400px;
    width: 600px;
    border: none;
}
