:root {
    --dark-grey: #333333;
    --light-grey: #555555;
    --lightest-grey: #777777;
    --purple: #4F3B7E;
    --dark-violet: #927FBF;
    --light-violet: #C4BBF0;
    --dark-blue: #71879a;
    --light-blue: #b1c5d4;

    --brick-red: #c33c54;
    --deep-chestnut: #bf4342;
    --light-red: #ff6961;
    --deep-red1: #562e2e;
    --deep-red2: #762e2e;
    --deep-red3: #962e2e;
    --indigo-blue: #254e70;
    --celadon-blue: #37718e;
    --sky-blue: #8ee3ef;
    --celeste: #aef3e7;

    --pad: 5px;
    --gen-pad: 20px;
    --gen-mar: 30px;
    --mar: 5px;
    --border-rad: 5px;
    --norm-text: 14px;
    --big-text: 18px;
    --small-text: 12px;
    --title-text: 50px;
    --subtitle-text: 30px;
    --image-scale: 100px;

    --lithe-blue: #b5d0ff;
    --lithe-green: #e4f9c1;
    --lithe-dark-green: #83b925;
    --lithe-red: #ff6961;

    --hide-on-mobile: '';
}

@media only screen and (max-width: 1000px), (max-height: 900px) {
    :root {
        --norm-text: 10px;
        --big-text: 12.85px;
        --small-text: 9px;
        --title-text: 30px;
        --subtitle-text: 20px;
        --pad: 3px;
        --mar: 3px;
        --image-scale: 50px;
        *[class~="hide-on-mobile"] {
            display: none;
        }
    }
}

@font-face {
    font-family: Poppins;
    src: url('./assets/Poppins-Regular.ttf');
}
@font-face {
    font-family: SourceSansPro;
    src: url('./assets/SourceSansPro-Light.ttf');
}
@font-face {
    font-family: SourceCodePro;
    src: url('./assets/SourceCodePro-Light.ttf');
}
@font-face {
    font-family: Roboto;
    src: url('./assets/Roboto-Regular.ttf');
}
@font-face {
    font-family: Lato;
    src: url('./assets/Lato-Regular.ttf');
}

@keyframes fade-in {
    from { opacity: 0; transform: scale(90%, 90%);}
    to   { opacity: 1; transform: scale(100%, 100%);}
}

* {
    box-sizing: border-box;
    font-family: Lato;
    font-size: var(--norm-text);
}
*:not(button):not(input) {
    margin: 0px;
    padding: 0px;
    color: white;
}
input[type='number'] {
    width: 50%;
}
body {
    background-color: var(--dark-grey);
    text-align: center;
}
a:hover {
    color: var(--lithe-blue);
}

.section-label {
    font-size: var(--big-text);
}

*[class~="section"] {
    text-align: left;
    border-radius: var(--border-rad);
    background-color: var(--lightest-grey);
    padding: var(--pad);
    overflow: auto;
}
*[class~="spaced"] {
    margin: var(--mar);
}

*[class~="subtitle"] {
    font-size: var(--subtitle-text);
}

*[class~="lithe-blue"] {
    color: var(--lithe-blue);
    font-size: inherit;
}

*[class~="lithe-green"] {
    color: var(--lithe-green);
    font-size: inherit;
}

*[class~="lithe-red"] {
    color: var(--lithe-red);
    font-size: inherit;
}

*[class~="slow-fade"] {
    animation: fade-in 2s;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#root {
    padding-bottom: calc(var(--mar) * 10);
}

#footer {
    position: absolute;
    bottom: 0;
    height: calc(var(--mar) * 10);
    background-color: var(--lightest-grey);
    overflow: hidden;
}
